<!DOCTYPE html>
<html lang="en">

<head>
    <title>Projects</title>
    <link rel="stylesheet" href="../static/css/contact.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="shortcut icon" href="{{ url_for('static', filename='../static/images/fevicon.PNG') }}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale = 1.0">
</head>

<body>
    <div class="navbar">
        <div class="menu">
            <a href="./home.html" id="home">Home</a>
            <a href="./skill.html" id="about">Skills</a>
            <a href="./project.html" id="work">Projects</a>
            <a href="./contact.html" id="contect">Contact</a>
        </div>
    </div>

    <div class="grounds">
        <a id="home1">&nbsp;</a>
        <div class="background">
            &nbsp;
        </div>
        <section class="fsection">
            <div class="forground">
                <section class="content">
                    <h1 style="font-size: 40px;margin-top: 25%; width: 50%;margin-left: 18%;">!! ERROR !!</h1>
                </section>
            </div>
            <div class="box">
                <div class="contect">
                    <h1>Contect Me </h1>
                    <a href="https://www.instagram.com/vishal_mewada_77/"> <i class="fab fa-instagram" style="float: left;">  <pre id="insta-pre"> vishal_mewada_77 </pre> </i></a>
                    <a href="https://www.linkedin.com/in/vishal-mevada-a04647208/"> <i class="fab fa-linkedin-in" style="float: left;">  <pre id="li-pre"> Vishal Mevada </pre> </i></a>
                    <a href="https://github.com/vishal001-it/"> <i class="fab fa-github" style="float: left;">  <pre id="git-pre"> vishal001-it </pre> </i></a>
                </div>
            </div>
        </section>
    </div>
</body>

</html>