<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/home.css">
    <link rel="shortcut icon" href="{{ url_for('static', filename='../static/images/fevicon.PNG') }}">
    <title>Home</title>
</head>

<body>
    <div class="navbar">
        <div class="menu">
            <a href="./home.html">Home</a>
            <a href="./skill.html">Skills</a>
            <a href="./project.html">Projects</a>
            <a href="./contact.html">Contact</a>
        </div>
    </div>
    <div class="forground">
        <div class="ground">
            <div class="pic-div">
                <div class="pic">
                    <img src="../static/images/pic2.jpg" alt="">
                </div>
            </div>

            <div class="about">
                <p style="font-size: 20px;">IT Fresher</p>
                <h1>Vishal Mevada</h1>
                <p>I am persuing my study in filed of IT IMS and Cyber Security from Gujarat Univercity But I have Good knowlage in Infrastructure management Service with security perspective and also in Development Filed </p>
            </div>
            <div class="btns">
                <button onclick="location.href='https://drive.google.com/file/d/1Gkcer7SWlX9oUQB7YKbbO4kjIbknw1Pd/view'" class="CV">
                Download CV
            </button>
                <button onclick="location.href='./contact.html'" class="contect">
                    Contact 
            </button>
            </div>
        </div>
    </div>
</body>

</html>