<!DOCTYPE html>
<html lang="en">

<head>
    <title>Projects</title>
    <link rel="stylesheet" href="../static/css/skill.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="{{ url_for('static', filename='../static/images/fevicon.PNG') }}">
    <meta name="viewport" content="width=device-width, initial-scale = 1.0">
</head>

<body>
    <header class="nav">
        <div class="containar">


            <div class="navbar">

                <div class="blank">&nbsp;

                </div>
                <a id="home" href="./home.html">Home</a>
                <a id="about" href="./skill.html">Skills</a>
                <a id="work" href="./project.html">Projects</a>
                <a id="contect" href="./contact.html">Contact</a>

            </div>


        </div>
        </div>
    </header>

    <div class="grounds">
        <a id="home1">&nbsp;</a>
        <div class="background">
            &nbsp;
        </div>
        <section class="fsection">
            <div class="forground">
                <section class="content">
                    <div class="head">
                        <h1>MY SKILLS</h1>
                    </div>
                    <div class="Development">
                        <h2>Programming</h2>
                        <h3>
                            HTML5 & CSS3
                        </h3>
                        <span class="bar"><span class="html">
                            </span></span>
                        <h3>JS</h3>
                        <span class="bar"><span class="js">
                                
                            </span></span>
                        <h3>Python</h3>
                        <span class="bar"><span class="py">
                                
                            </span></span>
                        <h3>C Programming</h3>
                        <span class="bar"><span class="C">
                                
                            </span></span>
                    </div>
                    <div class="IT">
                        <h2>IT/IMS</h2>
                        <h3>
                            RHEL Administration
                        </h3>
                        <span class="bar"><span class="rhel">
                            </span></span>
                        <h3> Networking </h3>
                        <span class="bar"><span class="net">
                                
                            </span></span>
                        <h3> Windows Server Administration </h3>
                        <span class="bar"><span class="win">
                                
                            </span></span>
                        <h3>VMware Vsphere</h3>
                        <span class="bar"><span class="vm">
                                
                            </span></span>
                    </div>
                    <div class="hobbie">
                        <h2>Hobbies</h2>
                        <span class="box"><pre>Playing Football</pre></span>
                        <span class="box"><pre>Watching Anime</pre></span>
                        <span class="box"><pre>Listning song </pre></span>
                        <span class="box"><pre> Programming </pre></span>
                    </div>
                </section>
            </div>
        </section>
    </div>
</body>

</html>